<div class="back">  
  <%= link_to myinteriors_path, class: :back__btn do %>
    <button>トップページに戻る</button>
  <% end %>
</div>
<div class="main">
  <div class="title2">
      <h1>〜SHOP INFORMATION〜</h1>
      <p>おすすめの家具屋さん情報</p>
  </div>
  <div class="maps">
    <div class="map">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OaLph_LqkBtbfW3bm-xm-ZmrFbMGv-IY" width="400" height="400"></iframe>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1HZC7lPmjTRlEsa3QSelrEh50z_zv9hKq" width="400" height="400"></iframe>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=14uatRN-sz-J_JPH1uESi_TguKXZpukAL" width="400" height="400"></iframe>
    </div>
  </div>
  <div class="maps">
    <div class="map">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1uY5sQMb6Cvr7CEONpJNMlM7xW47f54wn" width="400" height="400"></iframe>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1N75r2kB-c4BHulMYK7vXOkL82fXE3kZC" width="400" height="400"></iframe>
    </div>
  </div>
</div>
 
