<div class='title-contents'>  
  <%= video_tag "top.mp4", autoplay: true, autobuffer: true, size:"1200x700" %>
</div>
<div class='title-contents2'>
  <div class="scroll-fade">  
    <%= image_tag "top2.png", size:"1008x529" %>
  <h1 class='service-title'>
    『インテリア、家具どうしようかな？』
  </h1>
  <p class='service-explain'>
     インテリア、家具選びに困ったあなた、、
  </p>
  <p class='service-explain'>
     INTERIORk×FURNITUREにおまかせ！！
  </p>
  </div>
  <div class="scroll-fade">  
    <%= image_tag "top4.png", size:"1008x529" %>
    <h2 class='service-title'>
      自分の部屋を見てもらおう！！
    </h2>
    <p class='service-explain'>
      誰かのお部屋の参考に、、、、
    </p>
    <h3 class='service-title'>
      家具屋さん情報もおまかせ 🏠
    </h3>
  </div>
</div>

