<div class="interior-main">
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        編集
      </h1>
    </div>
        <%= render partial: "form", locals: { myinterior: @myinterior } %>
  </div>
</div>